.navbar {
    margin: 0px 100px;
}

.navbar-nav {
    font-size: small;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar-brand {
    font-weight: bold;
    color: #060303;
}

.navbar-nav .nav-link {
    color: #000000;
    margin: 0 10px;
}

.navbar-nav .nav-link:hover {
    color: #d1e8ff;
}